.container {
  width: 350px;
  height: 200px;
  margin: auto;
  margin-top: 400px;
  display: flex;
  outline: transparent;
  justify-content: center;
  align-items: center;
}

svg.dial {
  width: 180px;
  height: 180px;
  border: 1px gray dotted;
}

/* .dial .knob {
  transition: 500ms transform;
} */

.dial .knob circle {
  stroke: rgb(182, 0, 182);
  stroke-width: 0.25px;
  fill: black;
}

.dial .knob line {
  stroke: rgb(182, 0, 182);
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.dial .knob_number {
  fill: white;
  stroke: black;
  stroke-width: 0.0625px;
  font-size: 6px;
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: -0.5px;
  text-anchor: middle;
  dominant-baseline: central;
  pointer-events: none;
}

#dials-div {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.dial-div {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

#dial-div1 {
  background-color: rgba(255, 0, 0, 0.4);
}

#dial-div2 {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(228,70,210,1) -20%, rgba(22,255,90,1) 150%);
  position: relative;
  z-index: 3;
}

#dial-div3 {
  background-color: rgba(137, 43, 226, 0.4);
}

#center-dial-div {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

#behind-dials-div {
  height: 100%;
  width: 100%;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#behind-dials-div img {
  width: 50%;
  height: auto;
}

#dial-div2.slide-down {
  animation: slide-down 1s linear forwards;
}

@keyframes slide-down {
  from {
      translate: 0 0;
      display: flex;
  }

  to {
      translate: 0 110vh;
      display: none;
  }
}