@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --num_pages: 8;
}


* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    overflow: hidden;
    background: rgb(131,58,180);
    background: linear-gradient(22deg, rgba(131,58,180,1) 0%, rgba(81,29,253,1) 29%, rgba(252,176,69,1) 89%);
}

#main-game {
    transition: margin-left .5s; /* for admin panel*/
    width: calc(var(--num_pages) * 100%);
    height: 100%;
    position: relative;
    display: flex;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

.screen {
    height: 100%;
    width: 100%;
    position: relative;
    transition: all 1s ease;
    display: flex;
    color: white;
    /* border: 3px solid red; */
}

#status_lbl {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 12;
}

.recal-container {
    text-align: center;
    margin: 0;
    /* border: 3px solid yellow; */
}

.recal-btn {
    align-items: center;
    height: 50px;
    margin-bottom: 5px;
}

/* https://cssgradient.io/ */

#puzzles-container {
    height: 100%;
    width: 45px;
    max-width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: width .5s;
    display:flex;
    z-index: 10;
}

#admin-btn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    padding: 0px 10px;
    /* border: 2px solid red; */
    height: min-content;
}

.strike {
    text-decoration: line-through;
}

#puzzles {
    height: fit-content;
    width: 180px;
    padding: 15px;
    margin: 10px;
    text-align: left;
    border-radius: 12px;
    backdrop-filter: blur(18px);
    background: rgba(230, 235, 249, .7);
    border: 2px solid rgba(230, 235, 249, .7);
    box-shadow: 0 0 30px rgba(0, 0, 0, .05);
}

#puzzles h3 {
    padding-bottom: 10px;
    font-size: .8rem;
    width: fit-content;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
}

.btn_class {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    height: 40px;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .btn_class:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .btn_class:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .btn_class:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

  .btn_class:disabled {
    background-color: gray;
  }

/*
* passkey screen
*/

#welcome-screen  {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

#passkey_txtbox {
    color: white;
    width: 300px;
    height: 50px;
    background-color: rgba(81, 150, 110, 0.3);
    font-size: 25px;
    padding-left: 10px;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    appearance: none;
    text-align: center;
}

#passkey_txtbox:focus, #passkey_txtbox:hover {
    outline-style: solid;
    outline-color: rgba(81, 150, 110);
    outline-offset: 3px;
}

.box-down-screen {
    background: rgb(31,35,56);
    background: radial-gradient(circle, rgba(31,35,56,1) 0%, rgba(61,48,80,1) 49%, rgba(120,107,110,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.box-down-screen h1{
    color: white;
}

/*
* tilt screen
*/

#tilt-screen {
    background: rgb(228,70,210);
    background: linear-gradient(90deg, rgba(228,70,210,1) 0%, rgba(22,255,90,1) 100%);
    display: flex;
    flex-direction: column;
}

/*
* light/dark screen
*/

#light-screen {
    flex-direction: row;
}

.light-div {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-direction: column;

}

#lightside {
    background-color: black;
    opacity: .8;
    color: white;
    transition: color 1s, background-color 1s;
}

#darkside {
    background-color: white;
    opacity: .8;
    color: white;
    transition: color 1s, background-color 1s;
}

/*
* neopixel screen
*/

#neopixel-screen {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgb(0, 36, 12) 0%, rgb(31, 121, 9) 35%, rgb(4, 189, 35) 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: black;
}

.strip-container {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.strip {
    display: flex;
    height: 60px;
    border: 3px solid white;
    border-radius: 100px 100px 100px 100px;
    color: black;
    text-shadow: 1px 1px 5px white;
    font-size: 18px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#first-strip {
    background: linear-gradient(
        to right,
        #FF5733 33%, 
        #FFB533 33% 66%, 
        #33FF57 66%);
}

#second-strip {
    background: linear-gradient(
        to right, 
        #33B5FF 33%, 
        #8E44AD 33% 66%, 
        #FF5733 66%);
}

#third-strip {
    background: linear-gradient(
        to right, 
        #33FF57 33%, 
        #FFB533 33% 66%, 
        #33B5FF 66%);
}

/*
*  other
*/

#reset-btn {
    position: absolute;
    bottom: 100px;
}

#knob-img {
    width: 80%;
}

#end-screen {
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#end-screen iframe {
    width: 800px;
    height: 500px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 400px) {
    .btn_class, select {
        width: 120px;
    }
}